<article class="ph3 pv4 pa5-ns tertiary-4 bg-tertiary story">
  <div class="container flex-l justify-between">
    <img src="img/avatar-oana.jpg" class="self-start w-100 ma w-50-m w-30-l mr5-ns">
    <div class="measure-wide lh-copy w-70-l">
        <h3 class="f3 alt primary-2 dn db-l">
          {{ .Params.story.subtitle }}
        </h3>
        <h1 class="alt mb3 mb4-ns mt3 mt5-l f2 f2-ns f1-m f-subheadline-l lh-solid">
          {{ .Params.story.titlu }}
        </h1>

        <p>În 2011 am cunoscut-o pe Adriana — o apariție care m-a surprins cu numărul de espresso-uri devorate într-o oră și viteza cu care conecta idei. Șapte ani mai târziu, vorbește domol, și-a reglat relația cu cafeaua, dar adună în continuare oameni și construiește <strong>comunități</strong>.</p>

        <p>Împreună am făcut Creative Coffee, o întâlnire (aproape) lunară cu antreprenori din <strong>industriile creative</strong>. Am ținut-o așa trei ani, dintre care ultimul l-am petrecut singură la vâsle și am avut timp să îmi iau multe bobârnace, dar și să adun lecții utile la casa omului. Creative Coffee mi-a fost ca o școală alternativă de disciplină, inițiativă și dorință de schimbare.</p>

        <p class="bt--dotted bt bw2 b--primary-2  pt4 mt4"><strong>Astăzi</strong>, după un carusel intens de emoții de toate felurile, depășirea unor frici și descoperirea altora, încăpățânarea de a mișca ceva la nivel local, dorul de creativi și bucuria unei regăsiri cu mine însămi, rescriu povestea sub numele de <strong>"Creativ înainte de cafea"</strong>.</p>

         <p>Sunt într-un punct în care simt că în industriile creative avem nevoie să auzim <strong>povești autentice</strong> mai mult ca niciodată. Să exersăm toleranța și empatia. Să lăsăm armele jos și comparațiile la o parte. Să alegem vulnerabilitea în locul zidurilor. Să înlocuim <em>succesul</em> cu bucuria neaoșă. Să ne ascultăm șoaptele venite din interior. Să fim mai mult <em>împreună</em> și mai puțin <em>separat</em>. <br></p>

        <img src="img/logo-alb-1.png" class="w-100 w-90-ns mv4">

        <p><em>Creativ înainte de cafea</em> este o metaforă ascunsă sub forma unui eveniment pe care îl voi pune cap-la-cap de fiecare dată când o să simt că pot să scot o poveste de felul ăsta în lume. Timp de o oră, poate un pic mai mult, voi sta de vorbă cu un creativ despre <strong>dilemele, îngrijorările, frustrările, anxietățile, bucuriile și reușitele</strong> pe care le trăiește și care își pun amprenta asupra propriei deveniri. Îl iau cu mine într-o călătorie <em>înainte de cafea</em>, în care suntem noi cu noi, onești și <em>pe bune</em>.</p>

        <p>Îmi doresc să punem frână împreună la ritmul nebun al vieții digitale și non-digitale și vreme de o oră și jumătate să construim o lume a noastră.</p>

        <p class="">Cu bucurie,<br>Oana</p>
    </div>
  </div>
</article>

<article class="ph3 pv4 pa5-ns tertiary bg-primary-2 story">
  <div class="container flex-l justify-between">
    <img src="img/cana-madalina.png" class="self-start w-90 w-50-m w-30-l mr5-ns mb3 mt3 mt0-l">
    <div class="measure-wide lh-copy w-70-l">
        <h4 class="f3 alt">{{ .Params.eveniment.subtitlu }}</h3>
        <h1 class="f1 f2-ns f1-m f-subheadline-l alt lh-solid">{{ .Params.eveniment.titlu }}</h1>
        <p class="mb1 mt3">{{ .Params.eveniment.descriere | markdownify }}</p>
        <h3 class="f3 alt mb3">{{ .Params.eveniment.detalii }}</h3>
        <a class="f4 link br1 ph3 pv2 mb2 dib alt primary-2 bg-tertiary" href="{{ .Params.eveniment.buton_link }}" target="_blank
        ">{{ .Params.eveniment.buton_label }}</a>
    </div>
  </div>
</article>

<article class="ph3 pv4 pa5-ns secondary bg-primary-4 story">
  <div class="container flex-l justify-between">
    <img src="img/empty.png" class="self-start w-90 w-50-m w-30-l mr5-ns dn db-l">
    <div class="measure-wide lh-copy w-70-l">
        <h3 class="f1 f2-ns f1-m f2-l alt lh-solid">{{ .Params.sustinatori.titlu }}</h3>
        <p class="mb1 mt3">{{ .Params.sustinatori.descriere | markdownify }}</p>
        <div class="mt4 flex flex-wrap justify-between">
          <div class="w-40 tc mb4">
            <img src="img/avatar-ilinca.jpg" class="">
            <h3 class="f3 alt">Ilinca</h3>
          </div>
           <div class="w-40 tc mb0">
            <img src="img/avatar-andra.jpg" class="">
            <h3 class="f3 alt">Andra</h3>
          </div>
          <div class="w-40 tc mb4">
            <img src="img/avatar-adriana.jpg" class="">
            <h3 class="f3 alt">Adriana</h3>
          </div>
           <div class="w-40 tc mb0">
            <img src="img/avatar-diana.jpg" class="">
            <h3 class="f3 alt">Diana</h3>
          </div>
        </div>
    </div>
  </div>
</article>

<article class="ph3 pv4 pa5-ns tertiary bg-primary-2 story">
  <div class="container flex-l items-center">
    <img src="img/cana-random-8.png" class="self-start w-90 w-50-m w-30-l mr5-ns dn db-l">
    <!-- <img src="img/empty.png" class="self-start w-90 w-50-m w-30-l mr5-ns"> -->
    <div class="measure-narrow lh-copy w-70-l">
        <h1 class="f2 f2-ns f1-m f2-l alt lh-solid">{{ .Params.contact.titlu }}</h1>
        <p class="mb4 mt3">{{ .Params.contact.descriere | markdownify }}</p>
        <a class="f4 link alt" href="mailto:oana@pixelgrade.com">Scrie-mi un mail →</a>
    </div>
  </div>
</article>
