<article class="ph3 pv4 pa5-ns tertiary-4 bg-tertiary story">
  <div class="container flex-l justify-between">
    <img src="img/oana-avatar-1.png" class="self-start w-90 w-50-m w-30-l mr5-ns">
    <div class="measure-wide lh-copy w-70-l">
        <h4 class="f3 alt primary-2 dn db-l">Salut,</h3>
        <h1 class="alt mb3 mb4-ns mt3 mt5-l f3 f2-ns f1-m f-subheadline-l lh-solid">Sunt Oana și vreau să îți spun o poveste.</h1>
        <p>În 2011 am cunoscut-o pe Adriana — o apariție care m-a surprins cu numărul de espresso-uri devorate într-o oră și viteza cu care conecta idei. Șapte ani mai târziu, vorbește domol, și-a reglat relația cu cafeaua, dar adună în continuare oameni și construiește <strong>comunități</strong>.</p>

        <p>Împreună am făcut Creative Coffee, o întâlnire (aproape) lunară cu antreprenori din <strong>industriile creative</strong>. Am ținut-o așa trei ani, dintre care ultimul l-am petrecut singură la vâsle și am avut timp să îmi iau multe bobârnace, dar și să adun lecții utile la casa omului. Creative Coffee mi-a fost ca o școală alternativă de disciplină, inițiativă și dorință de schimbare.</p>

        <p class="bt--dotted bt bw2 b--primary-2  pt4 mt4 "><strong>Astăzi</strong>, după un carusel intens de emoții de toate felurile, depășirea unor frici și descoperirea altora, încăpățânarea de a mișca ceva la nivel local, dorul de creativi și bucuria unei regăsiri cu mine însămi, rescriu povestea sub numele de <strong>"Creativ înainte de cafea"</strong>.</p>
    </div>
  </div>
  <div class="container flex-l justify-between">
    <img src="img/logo-alb-1.png" class="self-start w-90 w-50-m w-30-l mr5-ns mt3 mb4 mt0-l mb0-l">
    <div class="measure-wide lh-copy w-70-l">
        <p>Sunt într-un punct în care simt că în industriile creative avem nevoie să auzim <strong>povești autentice</strong> mai mult ca niciodată. Să exersăm toleranța și empatia. Să lăsăm armele jos și comparațiile la o parte. Să alegem vulnerabiliatea în locul zidurilor. Să înlocuim <em>succesul</em> cu bucuria neaoșă. Să ne ascultăm șoaptele venite din interior. Să fim mai mult <em>împreună</em>și mai puțin <em>separat</em>. <br></p>

        <p><em>Creativ înainte de cafea</em> este o metaforă ascunsă sub forma unui eveniment pe care îl voi pune cap-la-cap de fiecare dată când o să simt că pot să scot o poveste de felul ăsta în lume. Timp de o oră, poate un pic mai mult, voi sta de vorbă cu un creativ despre <strong>dilemele, îngrijorările, frustrările, anxietățile, bucuriile și reușitele</strong> pe care le trăiește și care își pun amprenta asupra propriei deveniri. Îmi doresc să îl iau cu mine într-o călătorie <em>înainte de cafea</em>, în care suntem noi cu noi, onești și <em>pe bune</em>.  Apropo, evenimentul vine și ca urmare a unei surse de inspirație — podcastul <em>Pe Bune</em> — făcut de Andreea Vrabie și DOR.  </p>

        <p>Adriana, Ilinca, Andra, Diana, George, Vlad sunt doar câțiva dintre oamenii care mă susțin în provocarea asta și cărora le mulțumesc. Fără aceste spirite creative, nu aș fi avut curajul să mă înham la povocarea asta.</p>

        <p>Îmi doresc să punem frână împreună la ritmul nebun al vieții digitale și non-digitale și vreme de o oră și jumătate să construim o lume a noastră.</p>

        <p class="">Cu bucurie,<br>Oana</p>
    </div>
  </div>
</article>

<article class="ph3 pv4 pa5-ns tertiary bg-primary-2 story">
  <div class="container flex-l justify-between">
    <img src="img/cup-madalina-1.png" class="self-start w-90 w-50-m w-30-l mr5-ns mb3">
    <div class="measure-wide lh-copy w-70-l">
        <h4 class="f3 alt">Prima ediție</h3>
        <h1 class="f1 f2-ns f1-m f-subheadline-l alt lh-solid">Mădălina Teler</h1>
        <p class="mb1 mt3">Am cunoscut-o pe Mădălina acum patru ani, în decembrie, când multă lume dădea târcoale clopoțeilor ei din porțelan. Am aflat că ea se va intoarce la Iași, apoi am descoperit în ce s-a dezvoltat colecția <strong>De Ceramică</strong>: boluri și pahare geometric și suav decorate.</p>
        <h3 class="f3 alt mb3">Sâmbătă 19 Ianuarie, ora 10:00 la Fab Lab, Iași</h3>
        <a class="f4 link br1 ph3 pv2 mb2 dib alt primary-2 bg-tertiary" href="#0">Înregistrează-te pentru eveniment</a>
    </div>
  </div>
</article>

<article class="ph3 pv4 pa5-ns secondary bg-primary-4 story">
  <div class="container flex-l justify-between">
    <img src="img/empty.png" class="self-start w-90 w-50-m w-30-l mr5-ns dn db-l">
    <div class="measure-wide lh-copy w-70-l">
        <h3 class="f1 f2-ns f1-m f2-l alt lh-solid">Susținători </h3>
        <p class="mb1 mt3">Fără aceste spirite creative, nu aș fi avut curajul să mă înham la povocarea asta.</p>
        <div class="mt4 flex flex-wrap justify-between">
          <div class="w-40 tc mb4">
            <img src="img/oana-avatar-1.png" class="">
            <h3 class="f3 alt">Adriana</h3>
          </div>
          <div class="w-40 tc mb4">
            <img src="img/oana-avatar-1.png" class="">
            <h3 class="f3 alt">Ilinca</h3>
          </div>
           <div class="w-40 tc mb0">
            <img src="img/oana-avatar-1.png" class="">
            <h3 class="f3 alt">Andra</h3>
          </div>
           <div class="w-40 tc mb0">
            <img src="img/oana-avatar-1.png" class="">
            <h3 class="f3 alt">Diana</h3>
          </div>
        </div>
    </div>
  </div>
</article>

<article class="ph3 pv4 pa5-ns tertiary bg-primary-2 story">
  <div class="container flex-l justify-between">
    <!-- <img src="img/empty.png" class="self-start w-90 w-50-m w-30-l mr5-ns"> -->
    <div class="measure-narrow lh-copy">
        <h1 class="f1 f2-ns f1-m f2-l alt lh-solid">De găsit la nevoie</h1>
        <p class="mb4 mt3">Pentru întrebări și alte acareturi, stai liniștit că ai să mă găsești. De restul, caramele.</p>
        <a class="f4 link alt" href="mailto:oana@pixelgrade.com">Trimite-mi un email →</a>
    </div>
  </div>
</article>
