.b--primary {
  border-color: var(--primary);
}

.b--primary-2 {
  border-color: var(--primary-2);
}

.b--primary-4 {
  border-color: var(--primary-4);
}

.b--secondary-4 {
  border-color: var(--secondary-4);
}

.b--tertiary-4 {
  border-color: var(--tertiary-4);
}

.b--highlight {
  border-color: --var(--highlight);
}

.b--white {
  border-color: var(--white);
}

.b--off-white {
  border-color: var(--off-white);
}

.b--grey-1 {
  border-color: var(--grey-1);
}

.b--grey-2 {
  border-color: var(--grey-2);
}

.b--grey-3 {
  border-color: var(--grey-3);
}

.b--grey-4 {
  border-color: var(--grey-4);
}

.b--black {
  border-color: var(--black);
}
